In [1]:
import numpy as np
import pandas as pd

## Series / Seriler

In [2]:
benimSozlugum = {"Atil" : 50, "Zeynep" : 40, "Mehmet" : 30}

In [5]:
pd.Series(benimSozlugum)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [6]:
benimYaslarim = [50,40,30]
benimIsimlerim = ["Atil", "Zeynep", "Mehmet"]

In [7]:
pd.Series(benimYaslarim)

0    50
1    40
2    30
dtype: int64

In [8]:
pd.Series(benimYaslarim, benimIsimlerim)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [9]:
pd.Series(data=benimYaslarim, index=benimIsimlerim)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [10]:
numpyDizisi = np.array([50,40,30])

In [11]:
numpyDizisi

array([50, 40, 30])

In [12]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int64

In [13]:
pd.Series(numpyDizisi,benimIsimlerim)

Atil      50
Zeynep    40
Mehmet    30
dtype: int64

In [15]:
pd.Series(["Atil","Atlas","Osman"],[1,2,3])

1     Atil
2    Atlas
3    Osman
dtype: object

In [16]:
yarismaSonucu1 = pd.Series([10,5,1],["Atil","Atlas","Osman"])

In [17]:
yarismaSonucu1

Atil     10
Atlas     5
Osman     1
dtype: int64

In [18]:
yarismaSonucu2 = pd.Series([20,10,8],["Atil","Atlas","Osman"])

In [19]:
yarismaSonucu2

Atil     20
Atlas    10
Osman     8
dtype: int64

In [20]:
yarismaSonucu2["Atlas"]

10

In [21]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [22]:
sonSonuc

Atil     30
Atlas    15
Osman     9
dtype: int64

In [23]:
farkliSeries = pd.Series([20,30,40,50],["a","b","c","d"])

In [24]:
farkliSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [25]:
farkliSeries

a    20
b    30
c    40
d    50
dtype: int64

In [26]:
farkliSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [27]:
farkliSeries + farkliSeries2

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64